asn1crypto==0.24.0
beautifulsoup4==4.6.0
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
lxml==4.2.1
mysql-connector-python==2.1.6
mysql-utilities==1.6.4
numpy==1.13.3
paramiko==2.0.0
pexpect==4.2.1
pyasn1==0.4.2
pyodbc==4.0.17
pysqlite==2.7.0
scour==0.36
six==1.11.0
unity-lens-photos==1.0
webencodings==0.5
